.git
.gitignore
.next
.env
.env.sample
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
README.md
LICENSE
.DS_Store
.vscode
.idea
coverage
test-results
playwright-report
dist
*.db
.env.local
.env.*.local
